fastapi>=0.94.1
uvicorn~=0.21.0
SQLAlchemy
pydantic~=1.10.6
pydantic[email]
psycopg2-binary
passlib
bcrypt
python-multipart
PyJWT~=2.6.0
PyJWT[crypto]
requests~=2.28.2
python-magic~=0.4.27
ffmpeg-python==0.2.0
Pillow-SIMD==9.0.0.post1
qrcode~=7.4.2
aiofiles==23.1.0
alembic==1.10.0
